body {
  background-color: #D5E1EF;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 200px
}

.box {
  flex: 0 0 100%;
  width: 320px;
  height: 490px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 45px 45px 0 rgba(0, 0, 0, 0.0476518);
}
<<<<<<< HEAD

img {
  width: 288px;
  height: 288px;
  margin: 17px 17px 0;
  border-radius: 10px;
}

.flex-container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  flex: 0 0 100%;
}

.attribution a {
  color: #3e52a3;
}
=======

img {
  width: 288px;
  height: 288px;
  margin: 17px 17px 0;
  border-radius: 10px;
}

.flex-container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .attribution {
    font-size: 11px;
    text-align: center;
    flex: 0 0 100%;
  }

  .attribution a {
    color: #3e52a3;
  }
>>>>>>> d359fc0049ed6b13c849d7f71cdeaf0e5400ef9e

  .qr-text {
    text-align: center;
  }

  .p-1 {
    color: #1f314f;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    margin: 15px 0;
    padding: 0 15px;
  }

  .p-2 {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.1875px;
    padding: 0 20px;
    margin-top: 0;
    color: #7D889E;
  }
